.loading.segment {
	min-height: 8em;
}

.column.segment {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.row.segment {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.ui.button>.icon {
	padding-bottom: 1em;
}

@media only screen and (min-width: 768px) {
	.mobile {
		display: none !important;
	}
}

@media only screen and (max-width: 768px) {
	.computer {
		display: none !important;
	}
}
